body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #e0f7fa, #f0f2f5);
  transition: 0.4s;
}

body.dark {
  background: #121212;
  color: white;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}

button.dark-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: white;
  color:#2c3e50;
  font-weight: bold;
  transition: 0.35;
}

button.dark-btn:hover {
  transform: scale(1.05);
  background: #f1f1f1;
}

body.dark button.dark-btn {
  background: #333;
  color: white;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 80px 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-bottom: 30px;
  transition: 0.4s;
  animation: fadeIn 1s ease;
}

body.dark .card {
  background: #1e1e1e;
}

@keyframes fadeIn {
  from {opacity:0; transform:translateY(20px);}
  to {opacity:1; transform:translateY(0);}
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* GALERIA */

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.foto {
  position: relative;
}

.foto img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.foto img:hover {
  transform: scale(1.05);
}

.like {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.like.ativo {
  color: red;
  transform: scale(1.3);
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

